.cproject
.project
CHANGES.md
CHANGES_vfs.md
a.out
cpmsim
driveb.dsk
fatimg.raw
user/Makefile.gas-hello
user/gas-hello.obj
test_rx_result.*
.settings/
bk/
disks/
docs/
test/
arch/m68k-mega/rocket68/
arch/m68k-mega/m68ksim
arch/m68k-mega/rom.h
arch/z80board/z80boardsim

*.asm
*.rel
*.bin
*.lst
*.map
*.sym
*.zip
*.ihx
*.img
*.noi
*.lib
*.iymap


__pycache__/
*.lk
*.rom
fatimg_z80board.raw
arch/x86-ia16/obj/
arch/x86-ia16/disk/
arch/x86-ia16/_layout.inc
python/tz80_state/

# tzcc(tizix/tzcc/ に同居)自身のビルド成果物
tzcc/tzcc
tzcc/ast.txt
tzcc/compile.log
tzcc/trace.log
tzcc/prog.*
*.o
# #73: configure は autoconf で生成(リリース版ツリーにだけ入れる)
/configure
/config.mk
/config.log
/config.status
/autom4te.cache/
arch/z80pack/receive
# 実機向けの取り出し物(rom.h / SD イメージ)
/out/
# ビルド生成物は全部ここ: build/arch/<arch>/{obj,user}、回帰ログ build/regress/<YYYYMMDD>/
/build/
# docker/build.sh が組むビルドコンテキスト
/docker/ctx/
/docker/try/ctx/
# Mega スケッチ(#95): rom.h は make が置く生成物、build/ は build_and_flash.ps1 の出力
arch/m68k-mega/arduino/*/rom.h
arch/m68k-mega/arduino/*/build/
